{% extends 'engine/base.html' %} {% load filters %}

<!-- shows a paged view of the database's entries -->

{% block title %}

<title>Entries</title>

{% endblock %}

{% block content %}
<div class="container">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded-lg shadow-lg border-0">
        <div class="card-body p-4 bg-dark rounded">
          <hr class="my-2" />
          <div class="d-flex justify-content-between">
            <h1 class="text-white display-4">Entries</h1>
            <p class="text-white">Total Entries: {{ entries|length }}</p>
          </div>
          <div class="accordion" id="accordionExample">
            {% for entry in entries %}
            <div class="accordion-item entry-row" data-entry-category="{{ entry|get:'_source'|get:'category' }}" data-entry-id="{{ entry|get:'_id' }}">
              <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse{{ forloop.counter }}"
                  aria-expanded="true"
                  aria-controls="collapse{{ forloop.counter }}"
                >
                  {{ entry|get:'_source'|get:'headline' }}
                </button>
              </h2>
              <div
                id="collapse{{ forloop.counter }}"
                class="accordion-collapse collapse"
                aria-labelledby="heading{{ forloop.counter }}"
                data-bs-parent="#accordionExample"
              >
                <p><strong>Category:</strong> {{ entry|get:'_source'|get:'category' }}</p>
                <p><strong>Authors:</strong> {{ entry|get:'_source'|get:'authors' }}</p>
                <p><strong>Short Description:</strong> {{ entry|get:'_source'|get:'short_description' }}</p>
                <p><strong>Date:</strong> {{ entry|get:'_source'|get:'date' }}</p>
                <p><a href="{{ entry|get:'link' }}">Read More</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}