{% extends 'engine/base.html' %} {% load filters %}

<!-- shows a view of the database's entries -->

{% block title %}

<title>Entries</title>

{% endblock %} {% block content %}
<div class="container">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded-lg shadow-lg border-0">
        <div class="card-body p-4 bg-dark rounded">
          <hr class="my-2" />
          <!-- TODO: button somewhere to display 10 more entries; this will require messing with the size parameter in the search query -->
          <div class="table-responsive">
            <table class="table text-white text-center table-hover">
              <thead>
                <tr>
                  <td scope="col">
                    <h6><b>ID</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Headline</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Category</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Authors</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Date</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>More</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Link</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Relevant?</b></h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                {% for entry in entries %}
                <tr>
                  <th scope="row">{{ entry|get:'_id' }}</th>
                  <td><i>{{ entry|get:'_source'|get:'headline' }}</i></td>
                  <td>{{ entry|get:'_source'|get:'category' }}</td>
                  <td>{{ entry|get:'_source'|get:'authors' }}</td>
                  <td>{{ entry|get:'_source'|get:'date' }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-primary article-details"
                      data-content="{{ entry|get:'_source'|get:'short_description' }}"
                      data-toggle="modal"
                      data-target="#articleModal"
                    >
                      View
                    </button>
                    {% include 'engine/article-details.html' %}
                  </td>
                  <td>
                    <a
                      href="{{ entry|get:'_source'|get:'link' }}"
                      target="_blank"
                      class="btn btn-success"
                      role="button"
                      >Visit</a>
                  </td>
                  <!-- Button where the users, if they click the button saying "Log!", store the document as relevant to their profile -->
                  <!-- The user does not leave the page, they just click it -->
                  <!-- It's sent both the entry id and the category -->
                  <td>
                    <form action="{% url 'log_entry_click' %}" method="POST" target="dummyframe">
                      {% csrf_token %}
                      <input type="hidden" name="entry_id" value="{{ entry|get:'_id' }}" />
                      <input type="hidden" name="clicked_category" value="{{ entry|get:'_source'|get:'category' }}" />
                      <button type="submit" class="btn btn-danger">Log!</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<script>
  let viewButtons = document.querySelectorAll('.article-details');

  viewButtons.forEach(button => {
    button.addEventListener('click', () => {
      const shortDescription = button.dataset.content;
      document.getElementById('articleModalContent').innerText = shortDescription;
    });
  });
</script>
{% endblock %}
